
Library/ArtifactDB
Library/ArtifactDB
Library/ArtifactDB
Temp/UnityLockfile
Library/SourceAssetDB
*.log
Library/SourceAssetDB
Library/EditorInstance.json
Library/ArtifactDB
Library/ArtifactDB
Library/shadercompiler-UnityShaderCompiler.exe0.log
Library/shadercompiler-UnityShaderCompiler.exe1.log
Library/shadercompiler-UnityShaderCompiler.exe2.log
Library/SourceAssetDB
*.log
Library/SourceAssetDB
*.log
*.log
